<div class="chart-container" style="position: relative; height:10vh; width:30%">
    <canvas id="categoriesChart" width="200" height="200"></canvas>
</div>
<div class='chart-container' style="position:relative; ; height:10vh;width:30%">
    <canvas id="revenueChart" width="200" height="200"></canvas>
</div>

<script type="text/javascript" >    
    console.log("start");
    var cchart = document.getElementById('categoriesChart').getContext('2d');
    var categoriesChart = new Chart(cchart, {
        type: 'horizontalBar',
        barPercentage: 0.5,
        data: {
            labels: ['Cleaning', 'Food', 'Medical', 'Bathroom'],
            datasets: [{
                label: '# of Purchases',
                data: [12, 19, 3, 5],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                ],
                borderWidth: 0.5
            }]
        },
        options: {
            legend: {
                labels: {
                    fontSize: 24
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontSize: 17,
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("revenueChart"), {
        type: 'line',
        data: {
            labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
            datasets: [{
                data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
                label: "Africa",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
                label: "Asia",
                borderColor: "#8e5ea2",
                fill: false
            }, {
                data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
                label: "Europe",
                borderColor: "#3cba9f",
                fill: false
            }, {
                data: [40, 20, 10, 16, 24, 38, 74, 167, 508, 784],
                label: "Latin America",
                borderColor: "#e8c3b9",
                fill: false
            }, {
                data: [6, 3, 2, 2, 7, 26, 82, 172, 312, 433],
                label: "North America",
                borderColor: "#c45850",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'World population per region (in millions)'
            }
        }
    });
</script>
