<div class="container">
    <br>
    <h1 id="dashboard-headline">Dashboard</h1>
    <br>

    <div class="row">
        <button class="btn btn-outline-info text-center col mx-3">Marketplace</button>
        <button class="btn btn-outline-info text-center col mx-3">Orders</button>
        <button class="btn btn-outline-info text-center col mx-3">Cart</button>
    </div>
    {{!-- <div class="container"> --}}
    <br />
    <div clas="row">
        <div class="col align-self-start">
            <h1 id="recents-headline">
                Recent Purchases
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="horizontal">
            <div class="products">
                <div class="card col-4">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card col-4">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <div clas="row">
        <div class="col align-self-start">
            <h1 id="recents-headline">
                Transaction History
            </h1>
        </div>
    </div>
    {{!-- </div> --}}
</div>