<div class="container">
    <br>
    <h1 id="dashboard-headline">Buyer Dashboard</h1>
    <br>

    <div class="row">
        <button class="btn btn-outline-info text-center col mx-3" href="products">Marketplace</button>
        <button class="btn btn-outline-info text-center col mx-3">Orders</button>
        <button class="btn btn-outline-info text-center col mx-3">Cart</button>
    </div>
    {{!-- <div class="container"> --}}
    <br />
    <div clas="row">
        <div class="col align-self-start">
            <h1 id="recents-headline">
                Recent Purchases
            </h1>
        </div>
    </div>
    <div id="box">
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">
                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title">productName</h4>
                        <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">
                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title">productName</h4>
                        <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">
                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title">productName</h4>
                        <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">
                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title">productName</h4>
                        <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">
                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title">productName</h4>
                        <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">
                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title">productName</h4>
                        <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">
                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title">productName</h4>
                        <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br />
    <div clas="row">
        <div class="col align-self-start">
            <h1 id="recents-headline">
                Transaction History
            </h1>
        </div>
    </div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Order #</th>
                <th scope="col">Item</th>
                <th scope="col">Vendor</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Hand Sanitzer</td>
                <td>Target</td>
                <td>$3000</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bread</td>
                <td>Costco</td>
                <td>$20</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Toilet Paper</td>
                <td>Walmart</td>
                <td>$50000</td>
            </tr>
        </tbody>
    </table>
    {{!-- </div> --}}
</div>