<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <h1 class="col-md-8" id="header-tagline">
                    Disaster Marketplace
                </h1>

                <h2 class="col-md-12" id="header-description">
                    Unifyd is an efficient and safe way to recieve the products you love. From <b>volunteers</b> to
                    <b>businesses</b>, your
                    products will be delivered with ease.
                </h2>
            </div>
            <div class="col-lg-1 col-sm-0"></div>
            <br>
            <div class="col-lg-6 col-sm-12">
                <div class="authcard col-md-10">
                    <div id="signup-card">
                        <h1>Get Started</h1>

                        <div class="container">
                            <div id="seller-signup">
                                <input class="form-control" type="text" id="seller-signup-name"
                                    placeholder="Business Name">
                                <input class="form-control" type="text" id="seller-signup-email"
                                    placeholder="Email Address">
                                <input class="form-control" type="password" id="seller-signup-password"
                                    placeholder="Password">
                            </div>
                            <div id="buyer-signup">
                                <input class="form-control" type="text" id="buyer-signup-name"
                                    placeholder="Your Full Name">
                                <input class="form-control" type="text" id="buyer-signup-email"
                                    placeholder="Email Address">
                                <input class="form-control" type="password" id="buyer-signup-password"
                                    placeholder="Password">
                            </div>

                            <div class="row" id="usertype-select">
                                <div class="col-md-3 offset-md-1 my-auto">
                                    <p>I am a: </p>
                                </div>
                                <div class="col-md-8 my-auto">
                                    <button onClick="selectUsertype('buyer')" class="btn btn-secondary">Buyer</button>
                                    <button onClick="selectUsertype('seller')" class="btn btn-secondary">Seller</button>
                                </div>
                            </div>
                            <button onClick="signup()" class="btn btn-info" id="create-account">Create your
                                account</button>

                        </div>
                        <div class="container">
                            <div class="row" id="signupOpts">
                                <div class=" col col-12 ">
                                    <button class="btn btn-outline-info" onClick="displayLogin()">Login</button>
                                    <button class="btn btn-outline-secondary" onClick="goBack()">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="login-card">
                        <h1>Welcome Back</h1>
                        <div class="container">
                            <input class="form-control" type="text" id="login-email" placeholder="Email Address">
                            <input class="form-control" type="password" id="login-password" placeholder="Password">
                            <button onClick="login()" class="btn btn-success">Let's do this!</button>
                            <div class="row " id="loginOpts">
                                <div class=" col col-12 ">
                                    <button class="btn btn-outline-info" onClick="displayRegister()">Register</button>
                                    <button class="btn btn-outline-secondary" onClick="goBack()">Back</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container" id="auth-status"></div>

                </div>
            </div>
        </div>
    </div>
</header>