<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    preserveAspectRatio="xMidYMid">
    <defs>
        <pattern id="pancakes-pattern" x="0" y="0" width="100%" height="200" patternUnits="userSpaceOnUse">
            <line x1="0" y1="15" x2="100%" y2="15" />
            <line x1="0" y1="40" x2="100%" y2="40" />
            <line x1="0" y1="65" x2="100%" y2="65" />
            <line x1="0" y1="90" x2="100%" y2="90" />
            <line x1="0" y1="115" x2="100%" y2="115" />
            <line x1="0" y1="140" x2="100%" y2="140" />
            <line x1="0" y1="165" x2="100%" y2="165" />
            <line x1="0" y1="190" x2="100%" y2="190" />
            <line x1="0" y1="215" x2="100%" y2="215" />
        </pattern>
        <pattern id="logo" x="0" y="0" width="100%" height="200" patternUnits="userSpaceOnUse">
            <line x1="0" y1="15" x2="100%" y2="15" />
            <line x1="0" y1="40" x2="100%" y2="40" />
            <line x1="0" y1="65" x2="100%" y2="65" />
            <line x1="0" y1="90" x2="100%" y2="90" />
            <line x1="0" y1="115" x2="100%" y2="115" />
            <line x1="0" y1="140" x2="100%" y2="140" />
            <line x1="0" y1="165" x2="100%" y2="165" />
            <line x1="0" y1="190" x2="100%" y2="190" />
            <line x1="0" y1="215" x2="100%" y2="215" />
        </pattern>
    </defs>
    <rect x="0" y="0" width="100%" height="100%" fill="url(#pancakes-pattern)"></rect>
    {{!-- <rect x="22%" y="27%" width="250" height="150" fill="url(#logo)" /> --}}
</svg>
<header>


    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <h1 class="col-md-8" id="header-tagline">
                    Disaster Marketplace
                </h1>

                <h2 class="col-md-12" id="header-description">
                    Unifyd is an efficient and safe way to recieve the products you love. From <b>volunteers</b> to
                    <b>businesses</b>, your
                    products will be delivered with ease.
                </h2>
            </div>
            <div class="col-lg-1 col-sm-0"></div>
            <br>
            <div class="col-lg-6 col-sm-12">
                {{#unless user.email}}
                <div class="authcard col-md-10">
                    <div id="signup-card">
                        <h1>Get Started</h1>

                        <div class="container">
                            <div id="seller-signup">
                                <input class="form-control" type="text" id="seller-signup-name"
                                    placeholder="Business/Vendor Name">
                                <input class="form-control" type="email" id="seller-signup-email"
                                    placeholder="Email Address">
                                <input class="form-control" type="password" id="seller-signup-password"
                                    placeholder="Password">
                            </div>
                            <div id="buyer-signup">
                                <input class="form-control" type="text" id="buyer-signup-name" placeholder="Full Name">
                                <input class="form-control" type="email" id="buyer-signup-email"
                                    placeholder="Email Address">
                                <input class="form-control" type="password" id="buyer-signup-password"
                                    placeholder="Password">
                            </div>

                            <div class="row" id="usertype-select">
                                <div class="col-md-3 offset-md-1 my-auto">
                                    <p>I am a: </p>
                                </div>
                                <div class="col-md-8 my-auto">
                                    <button onClick="selectUsertype('buyer')" class="btn btn-secondary">Buyer</button>
                                    <button onClick="selectUsertype('vendor')" class="btn btn-secondary">Vendor</button>
                                </div>
                            </div>
                            <button onClick="signup()" class="btn btn-info" id="create-account">Create your
                                account!</button>

                        </div>
                        <div class="container">
                            <div class="row" id="signupOpts">
                                <div class=" col col-12 ">
                                    <button class="btn btn-outline-info" onClick="displayLogin()">Login</button>
                                    <button class="btn btn-outline-secondary" onClick="goBack()">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="login-card">
                        <h1>Welcome Back</h1>
                        <div class="container">
                            <input class="form-control" type="email" id="login-email" placeholder="Email Address">
                            <input class="form-control" type="password" id="login-password" placeholder="Password">
                            <button onClick="login()" class="btn btn-success">Let's do this!</button>
                            <div class="row " id="loginOpts">
                                <div class=" col col-12 ">
                                    <button class="btn btn-outline-info" onClick="displayRegister()">Register</button>
                                    <button class="btn btn-outline-secondary" onClick="goBack()">Back</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container" id="auth-status"></div>

                </div>
                {{/unless}}
                {{#if user.email}}
                <div class="authcard col-md-10">
                    <div id="signup-card">
                        <h1>Let's Go!</h1>
                        <br>
                        <a href="/dashboard" class="btn btn-outline-info btn-block">Go to Dashboard</a>
                        <a href="/products" class="btn btn-outline-info btn-block">View Products</a>
                        <a href="/logout" class="btn btn-outline-dark btn-block">Logout</a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>
</header>

<div id="middle">
    <div class="container my-5">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf
                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod.
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda
                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente
                        ea
                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                        denim
                        aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf
                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod.
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda
                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente
                        ea
                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                        denim
                        aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf
                        moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod.
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        assumenda
                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente
                        ea
                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                        denim
                        aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>