<header>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 class="col-md-8" id="header-tagline">
                    Disaster Marketplace
                </h1>

                <h2 class="col-md-12" id="header-description">
                    Yhuhuuhuhuhuhurd
                </h2>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="authcard col-md-10">
                    <div id="signup-card">
                        <h1>Get Started</h1>
                        <div class="container">
                            <div id="seller-signup">
                                <input class="form-control" type="text" id="signup-name" placeholder="Full Name">
                                <input class="form-control" type="text" id="signup-email" placeholder="Email Address">
                                <input class="form-control" type="password" id="signup-password" placeholder="Set a password">
                            </div>
                            <div id="buyer-signup">
                                <input class="form-control" type="text" id="signup-name" placeholder="Full Name">
                                <input class="form-control" type="text" id="signup-email" placeholder="Email Address">
                                <input class="form-control" type="password" id="signup-password" placeholder="Set a password">
                            </div>
    

                            <div class="row" id="usertype-select">
                                <div class="col-md-3 offset-md-1 my-auto">
                                    <p>I am a: </p>
                                </div>
                                <div class="col-md-8 my-auto">
                                    <button onClick="selectUsertype('buyer')" class="btn btn-secondary">Buyer</button>
                                    <button onClick="selectUsertype('seller')" class="btn btn-secondary">Seller</button>
                                </div>
                            </div>

                            <button onClick="signup()" class="btn btn-info">Create your account</button>
                        </div>
                    </div>

                    <div id="login-card">
                        <h1>Welcome Back</h1>
                        <div class="container">
                            <input class="form-control" type="text" id="login-email" placeholder="Email Address">
                            <input class="form-control" type="password" id="login-password" placeholder="Set a password">
                            <button onClick="login()" class="btn btn-success">Let's do this!</button>
                        </div>
                    </div>

                    <div class="container" id="auth-status"></div>

                </div>
            </div>
        </div>
    </div>
</header>