<div class="container">
    <br>
    <h1 id="products-headline">Products</h1>
    <br>

    <div class="row" id="search">
        {{#equals user.type "buyer"}}
            <input class="form-control col-12" type="text" id="search-field" placeholder="What do you need?" oninput="search()">
        {{/equals}}
        {{#equals user.type "vendor"}}
            <input class="form-control col-12" type="text" id="search-field" placeholder="Search our products" oninput="search()">
        {{/equals}}
    </div>

    <br>

    <div id="search-results" class="row">
    </div>

    <div id="products-content">
        <div class="row" id="product-categories">

                <button class="btn btn-outline-light text-center col">Cleaning</button>
                <div class="col-1"></div>
                <button class="btn btn-outline-warning text-center col">Food</button>
                <div class="col-1"></div>
                <button class="btn btn-outline-danger text-center col">Medical</button>
                <div class="col-1"></div>
                <button class="btn btn-outline-success text-center col">Bathroom</button>

            {{!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" src="../static/img/bucket.svg" />
                    <div class="title">
                        <h4>Cleaning</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" style="width:60px" src="../static/img/bread.svg" />

                    <div class="title">
                        <h4>Food</h4>
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" style="width:60px" src="../static/img/film.svg" />

                    <div class="title">
                        <h4>Entertainment</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" style="width:60px" src="../static/img/heart.svg" />
                    <div class="title">
                        <h4>Medical</h4>
                    </div>
                </div>
            </div> --}}
        </div>

        <br>
        <br>
        <br>

        <span id="popular-headline">Popular Now</span>
        <br>
        <div class="row" id="popular-now"></div>
    </div>
</div>

<span id="products-template" type="text/text">
    <div class="card col-lg-3 bg-bootstrapColor">
        <img class="card-img-top" src='imgsrc'>
        <div class="card-body">
            <h4 style="color: textColor" class="card-title">productName</h4>
            <h5 style="color: textColor" class="card-text">priceRange</h5>
            <p style="color: textColor" class="card-text">description</p>
        </div>
    </div>
</span>