<div class="container">
    <br>
    <h1 id="products-headline">Products</h1>
    <br>

    <div class="row" id="search">
        {{!-- <div class="col-2">
            <h1>Search</h1>
        </div> --}}
        <input class="form-control col-12" type="text" id="search-field" placeholder="Search For An Item" oninput="search()">
    </div>

    <br>

    <div id="search-results">
        <h1>Searching</h1>
    </div>

    <div id="products-content">
        <div class="row" id="product-categories">

                <button class="btn btn-outline-light text-center col">Cleaning</button>
                <div class="col-1"></div>
                <button class="btn btn-outline-warning text-center col">Food</button>
                <div class="col-1"></div>
                <button class="btn btn-outline-danger text-center col">Medical</button>
                <div class="col-1"></div>
                <button class="btn btn-outline-success text-center col">Bathroom</button>

            {{!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" src="../static/img/bucket.svg" />
                    <div class="title">
                        <h4>Cleaning</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" style="width:60px" src="../static/img/bread.svg" />

                    <div class="title">
                        <h4>Food</h4>
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" style="width:60px" src="../static/img/film.svg" />

                    <div class="title">
                        <h4>Entertainment</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="svg-icons" style="width:60px" src="../static/img/heart.svg" />
                    <div class="title">
                        <h4>Medical</h4>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</div>