<div class="container">
    <br>
    <h1 id="dashboard-headline">Dashboard</h1>
    <br>

    <div class="row">
        <button class="btn btn-outline-info text-center col mx-3">Add Product</button>

    </div>
    {{!-- <div class="container"> --}}
    <br />
    <div clas="row">
        <div class="col align-self-start">
            <h1 id="recents-headline">
                My Products
            </h1>
        </div>
    </div>
  
    <br />
    <div clas="row">
        <div class="col align-self-start">
            <h1 id="recents-headline">
                Transaction History
            </h1>
        </div>
    </div>
    {{!-- </div> --}}
</div>