<div class="container">
    <br>
    <h1 id="products-headline">Vendor Dashboard</h1>
    <br>
    <div class="row">
        <button type="button" id="mymodal" class="btn col col-4 btn-success" data-toggle="modal" data-target="#add">
            Add Products
        </button>
        <div class="col col-8" id="search">
            <label for="search-field" style="color:white">Search for products</label>
            <input class="form-control col-12" type="text" id="search-field" placeholder="Search our products"
                onchange="search()">
        </div>
    </div>
    <br>
    <div id="search-results" class="row">
    </div>
    <div id="other-content" class="">
        <div clas="row">
            <div class="col align-self-start">
                <h1 class="recents-headline">
                    Placed Orders
                </h1>
            </div>
        </div>
        <div id="box">
            <div id="" class="col col-md-3">
                <div class="card productcard col p-0 mr-3 mb-3" style="border-width: 1.2px; width:100%">
                    <a class="card-block stretched-link text-decoration-none" data-toggle="modal"
                        data-target="#mapModal" data-lat='38.897957' data-lng='-77.036560'>
                        <div class="img-hover-zoom m-0">
                            <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                        </div>
                        <div class="card-body">
                            <h4 style="color: white" class="card-title">productName</h4>
                            <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                            <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                                class="card-text"><i>description</i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="" class="col col-md-3">
                <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                    <a class="card-block stretched-link text-decoration-none" data-toggle="modal"
                        data-target="#modalNum">
                        <div class="img-hover-zoom m-0">
                            <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                        </div>
                        <div class="card-body">
                            <h4 style="color: white" class="card-title">productName</h4>
                            <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                            <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                                class="card-text"><i>description</i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="" class="col col-md-3">
                <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                    <a class="card-block stretched-link text-decoration-none" data-toggle="modal"
                        data-target="#modalNum">
                        <div class="img-hover-zoom m-0">
                            <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                        </div>
                        <div class="card-body">
                            <h4 style="color: white" class="card-title">productName</h4>
                            <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                            <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                                class="card-text"><i>description</i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="" class="col col-md-3">
                <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                    <a class="card-block stretched-link text-decoration-none" data-toggle="mapModal"
                        data-target="#modalNum" data-lat='21.03' data-lng='105.85'>
                        <div class="img-hover-zoom m-0">
                            <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                        </div>
                        <div class="card-body">
                            <h4 style="color: white" class="card-title">productName</h4>
                            <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                            <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                                class="card-text"><i>description</i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="" class="col col-md-3">
                <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                    <a class="card-block stretched-link text-decoration-none" data-toggle="modal"
                        data-target="#modalNum">
                        <div class="img-hover-zoom m-0">
                            <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                        </div>
                        <div class="card-body">
                            <h4 style="color: white" class="card-title">productName</h4>
                            <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                            <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                                class="card-text"><i>description</i></p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="" class="col col-md-3">
                <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                    <a class="card-block stretched-link text-decoration-none" data-toggle="modal"
                        data-target="#modalNum">
                        <div class="img-hover-zoom m-0">
                            <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                        </div>
                        <div class="card-body">
                            <h4 style="color: white" class="card-title">productName</h4>
                            <h5 style="color: white" class="card-text">$priceStart-$priceEnd</h5>
                            <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                                class="card-text"><i>description</i></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div clas="row">
            <div class="col align-self-start">
                <h1 class="recents-headline">
                    Transaction History
                </h1>
            </div>
        </div>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Order #</th>
                    <th scope="col">Item</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Hand Sanitzer</td>
                    <td>Target</td>
                    <td>$3000</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bread</td>
                    <td>Costco</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Toilet Paper</td>
                    <td>Walmart</td>
                    <td>$50000</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div id="products-template" style="display: none">
        <div id="" class="col col-md-3">
            <div class="card productcard col p-0 mr-3 mb-3" style=" border-width: 1.2px; width:100%">
                <a class="card-block stretched-link text-decoration-none" data-toggle="modal" data-target="#modalNum">

                    <div class="img-hover-zoom m-0">
                        <img src="imgsrc" class="card-img-top m-0" alt="..." style="width: 100%">
                    </div>
                    <div class="card-body">
                        <h4 style="color: white" class="card-title mb-1">productName</h4>
                        categories
                        <h5 style="color: white" class="card-text mt-1">$priceStart-$priceEnd</h5>
                        <p style="color: white; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;  display: -webkit-box; -webkit-box-orient: vertical;"
                            class="card-text"><i>description</i></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="modal fade" id="modalNum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            style="background-color: rgb(53, 53, 78, 0.9);" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content" style="background-color:rgb(216, 216, 230)">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <!--Carousel Wrapper-->
                                <div id="carousel-thumbNum" class="carousel slide carousel-fade carousel-thumbnails"
                                    data-ride="carousel">
                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
                                        CarImg
                                    </div>
                                    {{!-- <ol class="carousel-indicators" id="modalcarouselnum">
                                    CarInd
                                </ol> --}}
                                    <a class="carousel-control-prev" href="#carousel-thumbNum" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-thumbNum" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!--/.Carousel Wrapper-->
                            </div>
                            <div class="col-lg-7">
                                <h2 class="h2-responsive product-name">
                                    <strong><input class="form-control form-control-lg" type="text" value="productName">
                                    </strong>
                                </h2>
                                categories
                                <h4 class="h4-responsive">
                                    <span class="green-text">
                                        <strong><input class="form-control" type="text" value="priceStart">
                                            - <input class="form-control" type="text" value="priceEnd">
                                        </strong>
                                    </span>
                                </h4>
                                <p><input class="form-control" type="text" value="description"></p>

                                <div class="card-body align-text-bottom">
                                    <div class="row col-md-12">
                                        <div class="form-group col-md-6 ">
                                            <label for="">Price</label>
                                            <input type="number" class="form-control" min="priceStart" max="priceEnd">
                                        </div>
                                        <div class="form-group col-md-6 ">
                                            <label for="">Quantity (limit max)</label>
                                            <input type="number" class="form-control" min="1" max="limit"
                                                onchange="validate()">
                                        </div>
                                    </div>
                                    <script>

                                    </script>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger " data-dismiss="modal">Delete
                                            <i class="fas fa-trash ml-2" aria-hidden="true"></i>

                                        </button>
                                        <button class="btn btn-primary">Submit
                                            <i class="fas fa-check ml-2" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="background-color: rgb(53, 53, 78, 0.9);" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Add Product
                    </p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <strong>
                            <label for="name">Product Name</label>
                        </strong>
                        <strong>
                            <input id="nameAdd" class="form-control form-control-lg" type="text">
                        </strong>
                    </div>
                    <div class="text-center">
                        <strong>
                            <label for="categoryAdd">Categories</label>
                        </strong>
                        <strong>
                            <input id="categoryAdd" class="form-control form-control-lg" type="text">
                        </strong>
                    </div>
                    <hr>
                    <p class="text-center">
                        <strong>Description</strong>
                    </p>
                    <!--Basic textarea-->
                    <div class="md-form">
                        <textarea type="text" id="descriptionAdd" class="md-textarea form-control" rows="3"></textarea>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <strong>
                                <label for="name">Price Start</label>
                            </strong>
                            <strong>
                                <input autocomplete="off" id="priceSAdd" class="form-control form-control-lg"
                                    type="text">
                            </strong>
                        </div>
                        <div class="col-6">
                            <strong>
                                <label for="name">Price End</label>
                            </strong>
                            <strong>
                                <input autocomplete="off" id="priceEAdd" class="form-control form-control-lg"
                                    type="text">
                            </strong>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12">
                            <strong>
                                <label for="quantity">Limit</label>
                            </strong>
                            <strong>
                                <input autocomplete="off" id="limitAdd" class="form-control form-control-lg"
                                    type="text">
                            </strong>
                        </div>
                    </div>
                    <hr />
                    <strong>
                        <label for="images">Images</label>
                    </strong>
                    <strong>
                        <input id="imagesAdd" class="form-control form-control-lg" type="text">
                        <p id="addStatus"></p>
                    </strong>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-success waves-effect waves-light" onClick="addProduct()">Add
                        <i class="fa fa-save ml-1"></i>
                    </a>
                    <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mapModal" style="background-color: rgb(53, 53, 78, 0.9);" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <strong><p class="heading lead">Product Drop
                    </p></strong>
                
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 modal_body_content">
                            <p>{Producname is en route}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 modal_body_map">
                            <div class="location-map" id="location-map">
                                <div style="width: 600px; height: 400px;" id="map_canvas"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3 modal_body_end">
                            <button class="btn btn-primary btn-success">Delivered</button>
                        </div>
                        <div class="col-3 modal_body_end">
                            <button class="btn btn-outline-primary ">En Route</button>
                        </div>
                        <div class="col-3 modal_body_end">
                            <button class="btn btn-outline-warning ">Proccessing</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->

<script>
    $(document).ready(function () {
        var map = null;
        var myMarker;
        var myLatlng;
        function initializeGMap(lat, lng) {
            myLatlng = new google.maps.LatLng(lat, lng);

            var myOptions = {
                zoom: 12,
                zoomControl: true,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            myMarker = new google.maps.Marker({
                position: myLatlng
            });
            myMarker.setMap(map);
        }
        $('#mapModal').on('show.bs.modal', function (event) {
            console.log("show map")
            var button = $(event.relatedTarget);
            initializeGMap(button.data('lat'), button.data('lng'));
            $("#location-map").css("width", "100%");
            $("#map_canvas").css("width", "100%");
        });

        // Trigger map resize event after modal shown
        $('#mapModal').on('shown.bs.modal', function () {
            google.maps.event.trigger(map, "resize");
            map.setCenter(myLatlng);
        });
    });
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUwLCoLvOFQhL8-QL6aAVEN0RlTirHeUQ">
    </script>
