body {
    background-color: var(--color-background-primary-dark) !important;
}

#cart-headline {
    color: var(--color-content-primary-dark);
    font-family: Poppins;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    padding-top: 0rem;
    animation: introduceHeader 0.5s;

}
