body {
    background-color: var(--color-background-primary-dark) !important;
}
.box {
    padding: 60px 0px;
}
.svg-icons {
    margin-bottom: 20px;
}
#products-headline{
    color: var(--color-content-primary-dark);
    font-family: Poppins;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    padding-top: 0rem;
    animation: introduceHeader 0.5s;

}

.box-part {
    background-color: var(--color-placeholder-light) !important;
    border-radius: 20px;
    padding: 100px 60px;
    margin: 30px 15px;
}

.product-category {
    padding: 3rem;
    height: fit-content;
    width: fit-content;
}

#product-categories .btn {
    font-family: Poppins !important;
    font-size: 1.5rem;
}

#search h1 {
    color: white;
    font-family: Poppins;
}

#search-field {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 0.1rem;
    transition: border-color 0.2s, border-width 0.2s;
}

#search-results {
    display: none;
    animation: fadeIn 0.5s;
}

#search-field:focus {
    border-color: var(--color-accent-primary);
    border-width: 0.25rem !important;
    outline: none !important;
    box-shadow: none
}

#products-content {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.text {
    font-size: 15px;
}

.card {
    transform: scale(0.8);
    border-radius: 1rem;
    height: 20rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover;
    margin-top: 1rem;
}

.product-card {
    /* background-color: var(--color-background-secondary-light); */
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.product-card:hover {
    opacity: 1;
}

.product-card h1 {
    /* color: var(--color-content-primary-light); */
    font-family: Poppins;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    font-weight: bold;
}

.product-card p {
    /* color: var(--color-content-primary-light); */
    font-family: Poppins;
    font-size: 1rem;
    text-align: center;
    padding-top: 1.5rem;
    font-weight: bold;
}

#popular-headline {
    font-size: 2rem;
    color: white;
    padding: none;
    margin: none;
    display: block;
}