.projectcard {
    /* border: 1px solid var(--color-accent-primary); */
    background-color: var(--color-background-secondary-dark);
    padding: 2%;
    margin-top: 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.8;
    border: 0.15rem solid transparent;
    transition: opacity 0.3s, border 0.3s;
}

.projectcard:hover {
    opacity: 1;
    border: 0.15rem solid var(--color-accent-primary);
}

.projectcard h1 {
    color: var(--color-content-primary-dark);
    font-size: 1.5rem;
    font-family: Poppins;
}

.projectcard h2 {
    color: var(--color-content-secondary-dark);
    font-size: 1rem;
    font-family: Poppins;
}


.projectcard {
    color: var(--color-accent-primary);
    font-size: 3rem;
}